.Header {
  display: flex;
  padding: 5rem 3rem 0 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  @media only screen and (max-width: 475px) {
    .logo {
      min-width: 100%;
      text-align: center;
      padding-bottom: 1rem;
    }
    .themeSwitch {
      margin: 0 auto;
    }
  }
}

.logo {
  color: var(--whiteLogo);
  display: inline-block;
}

a {
  color: var(--whiteLogo);
  text-decoration: none;
}

body {
  background-color: #2d3540;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100px;
  margin: 0 auto;
}

.themeSwitch {
  background: #f2a007;
  min-width: 110px;
  max-width: 110px;

  height: 35px;
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;

  .switch {
    background: white;
    width: 50px;
    height: 27px;
    position: absolute;
    border-radius: 6px;
    top: 4px;
    left: 4px;
    transition: 0.4s all ease;
  }

  .switch.active {
    transform: translateX(52px);
  }

  .lable {
    text-align: center;
  }

  h5 {
    padding: 11px 0 0 4px;
    color: var(--white);
    margin: 0;
  }
}

.hero {
  max-width: 800px;
  margin: 0 auto;
  margin-top: var(--space-xxl);
  h2 {
    color: var(--white);
  }
  h2:nth-child(2) {
    text-align: right;
    padding-bottom: 2rem;
  }
  p {
    color: var(--yellow);
    font-size: var(--text-lg);
    font-weight: 400;
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    margin-top: var(--space-lg);
    h2 {
      font-size: 2.5rem;
      text-align: center;
      max-width: 13ch;
      margin: 0 auto;
      padding-bottom: 2rem;
    }
    h2:nth-child(2) {
      display: none;
      text-align: center;
    }

    p {
      max-width: 19ch;
      margin: 0 auto;
      padding-bottom: 1.5rem;
      line-height: 2rem;
    }
  }
}
